<div class="dash-container">
  <p class="dashboard-header">Dashboard</p>
  <div class="headers-dash">
    <h2 class="box-headers">My Favorites</h2>
    <h2 class="box-headers">My Messages</h2>
    <h2 class="box-headers">My Kondos</h2>
  </div>
  <div class="boxes">
    <div class="dash-box">
      <div class="box-content">
        <% @favorites.each do |fav| %>
          <div class="card-product-two">
            <% if fav.kondo.image.attached? %>
              <%= cl_image_tag fav.kondo.image.key, height: 180, width: 100, crop: :fill %>
            <% end %>
              <div class="card-product-infos-dash">
                <div class="d-flex">
                  <h2><%= fav.kondo.title %></h2>
                  <%= link_to favorite_path(fav, redirect_to: "dashboard"), method: :delete do %>
                    <i data-toggle="tooltip" data-placement="top" title="Unfavorite Kondo" class="fas fa-heart mr-2"></i>
                  <% end %>
                </div>
                <p><%= fav.kondo.description %></p>
                <div class="card-product-seller-dash">
                  <p><strong>Pickup at:</strong>
                    <br>
                    <%= fav.kondo.location %></p>
                  <%= form_tag chatrooms_path, method: :post do %>
                    <%= hidden_field_tag :kondo_id, fav.kondo.id %>
                    <%= submit_tag "Contact Kondor", class: "btn btn-main-grid btn-contact-grid-dash" %>
                <% end %>
                </div>
            </div>
          </div>
        <% end %>
          <%= link_to kondos_path do  %>
          <div class="empty">
            <i class="fas fa-plus"></i>
          </div>
          <% end %>
      </div>
    </div>

    <div class="dash-box">
      <div class="box-content">
        <% @chatrooms.each do |chatroom| %>
        <%= link_to chatroom_path(chatroom.id) do %>
          <div class="chats">
            <% if chatroom.kondo.image.attached? %>
              <%= cl_image_tag chatroom.kondo.image.key, height: 180, width: 100, crop: :fill %>
            <% end %>
            <div>
            <% if chatroom.kondo.user.id == current_user.id %>
            <% end %>
              <p class="chat-buddy"><%= chatroom.kondo.user.username %> </p>
              <p class="chat-title"><%= chatroom.kondo.title %></p>
              <p class="chat-content">Last message: <%= chatroom.updated_at.day %>.<%= chatroom.updated_at.month %>.<%= chatroom.updated_at.year %></p>
            </div>
          </div>
          <% end %>
        <% end %>
        </div>
      </div>


    <div class="dash-box">
      <div class="box-content">
        <% @kondos.each do |kondo|%>
        <div class="card-product-three">
            <% if kondo.image.attached? %>
              <%= cl_image_tag kondo.image.key, height: 180, width: 100, crop: :fill %>
            <% end %>
            <div class="card-product-infos-dash">
              <div class="d-flex">
                <h2 class="card-product-header-white"><%= kondo.title %></h2>
                <% if policy(kondo).destroy? %>
                  <%= link_to kondo_path(kondo), method: :delete, data: {confirm: 'Are you sure you want to delete this Kondo?'} do %>
                  <i class="fas fa-times"></i>
                  <% end %>
                <% end %>
              </div>
              <p class="card-product-desc"><%= kondo.description %></p>
              <div class="icons">
                <% if kondo.reserved %>
                  <%= link_to dashboard_kondo_reserve_path(:kondo_id => kondo.id) do %>
                  <i data-toggle="tooltip" data-placement="top" title="Reserved Kondo" class="fas fa-toggle-on"></i>
                  <% end %>
                  <% else %>
                    <%= link_to dashboard_kondo_reserve_path(:kondo_id => kondo.id) do %>
                    <i data-toggle="tooltip" data-placement="top" title="Reserve Kondo" class="fas fa-toggle-off"></i>
                    <% end %>
                <% end %>
                <% if kondo.active %>
                  <%= link_to dashboard_kondo_active_path(:kondo_id => kondo.id) do %>
                  <i data-toggle="tooltip" data-placement="top" title="Dectivate Kondo" class="far fa-eye"></i>
                <% end %>
                <% else %>
                  <%= link_to dashboard_kondo_active_path(:kondo_id => kondo.id) do %>
                  <i data-toggle="tooltip" data-placement="top" title="Activate Kondo" class="far fa-eye-slash"></i>
                  <% end %>
                <% end %>
                <%= link_to edit_kondo_path(kondo) do %>
                  <i data-toggle="tooltip" data-placement="top" title="Edit Kondo" class="far fa-edit"></i>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
        <%= link_to new_kondo_path do  %>
        <div class="empty">
          <i class="fas fa-plus"></i>
        </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
