<div class="dash-container">
  <p class="dashboard-header">Dashboard</p>
  <div class="boxes">
    <div class="dash-box">
      <div class="box-content">
      <p>My Favorites</p>
        <% @favorites.each do |fav| %>
        <div class="d-flex">
          <%= link_to favorite_path(fav, redirect_to: "dashboard"), method: :delete do %>
           <i data-toggle="tooltip" data-placement="top" title="Unfavorite Kondo" class="fas fa-heart mr-2"></i>
          <% end %>
          <h1 class="kondo-title"><%= fav.kondo.title %></h1>

        </div>
        <%= link_to '#' do %>
        <i class="far fa-comments"></i> <%= fav.kondo.user.username %>
        <% end %>
        <br>
        <% end %>
      </div>
    </div>
    <div class="dash-box">
      <div class="box-content">
      <p>My Messages</p>
      </div>
    </div>
    <div class="dash-box">
      <div class="box-content">
        <p>My Kondos</p>
        <% @kondos.each do |kondo|%>
          <div class="kondo">
            <h1 class="kondo-title"><%= kondo.title %></h1>
            <p class="kondo-desc"><%= kondo.description %></p>
            <% if kondo.reserved %>
              <%= link_to dashboard_kondo_update_path(:kondo_id => kondo.id), method: :post do %>
              <i class="fas fa-toggle-on"></i>  <p class="kondo-status">This kondo is reserved</p>
              <br>
              <% end %>
              <% else %>
                <%= link_to dashboard_kondo_update_path(:kondo_id => kondo.id), method: :post do %>
                <i class="fas fa-toggle-off"></i>  <p class="kondo-status">This kondo is not yet reserved</p>
                <br>
                <% end %>
            <% end %>
            <% if kondo.active %>
              <i class="far fa-eye"></i>  <p class="kondo-status">Your Kondo is active</p>
            <% end %>
            <br>
            <%= link_to edit_kondo_path(kondo), method: :post do  %>
            <i class="far fa-edit"></i>  <p class="kondo-status">Edit your Kondo</p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
