<div class="card-product" id=<%="kondo-index-#{kondo.id}"%>>
  <% if kondo.image.attached? %>
    <%= cl_image_tag kondo.image.key, height: 400, width: 400, crop: :fill %>
  <% end %>
    <div class="card-product-infos">
        <h2><%= kondo.title %></h2>
        <p><%= kondo.description %></p>
        <% if policy(kondo).destroy? %>
          <%= link_to "delete kondo", kondo_path(kondo), method: :delete, data: {confirm: 'Are you sure you want to delete?'} %></p>
        <% end %>
        <% if current_user %>
          <% if !current_user.owner?(kondo) %>
            <% if current_user.favorite?(kondo) %>
              <%= link_to favorite_path(Favorite.find_by(kondo: kondo), :location => params[:location], :kondo_id => kondo.id), method: :delete, remote: true do %>
              <i class="fas fa-heart"></i>
              <% end %>
            <% else %>
              <%= link_to kondo_favorites_path(kondo, :location => params[:location]), method: :post, remote: true do %>
              <i class="far fa-heart"></i>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <div class="card-product-seller">
        <p><strong>Kondor:</strong> <%= kondo.user.username %></p>
        <p><strong>Pickup at:</strong> <%= kondo.location %></p>
      </div>
    </div>

  </div>
