<%= simple_form_for(kondo, html: { class: "form"}) do |f| %>
  <%= f.input :title, input_html: { class: "form-field" }, label: false, placeholder: 'Name your Kondo' %>
  <%= f.input :description, input_html: { class: "form-field" }, label: false, placeholder: 'Give a short description of your Kondo' %>
  <%= f.input :location, input_html: { class: "form-field" }, label: false, placeholder: 'Where can the Kondo be picked up?' %>
  <br>
<div class="buttons-container">
  <label class="btn btn-ghost" style="margin: 0">Upload a photo
    <span style="display:none;">
    <%= f.input :image, as: :file, class: 'hidden' %>
    </span>
  </label>
    <%= f.submit 'Submit', class: "btn btn-main"%>
</div>
<% end %>
