<%= simple_form_for(kondo, html: { class: "form"}) do |f| %>
  <%= f.input :title, input_html: { class: "form-field" }, label: false, placeholder: 'Name your Kondo' %>
  <%= f.input :description, input_html: { class: "form-field" }, label: false, placeholder: 'Give a short description of your Kondo' %>
  <%= f.input :location, input_html: { class: "form-field" }, label: false, placeholder: 'Where can the Kondo be picked up?' %>
  <br>
<div class="buttons-container">
  <div height="40">
    <%= f.input :image, input_html: { class: 'd-none', id: 'photo-input' }, label_html: { class: 'btn-height btn btn-ghost'}, label: 'Upload a photo' %>
    <br>
    <p style="font-size: 12px; color: white">Your photo:</p>
    <%= image_tag "", width: 50, class: "hidden", id: "photo-preview" %>
  </div>
  <div height="40">
    <%= f.submit 'Submit', class: "btn btn-main"%>
  </div>
</div>
<% end %>




<!--   <label class="btn btn-ghost" style="margin: 0">Upload a photo
    <span style="display:none;">
    <%#= f.input :image, as: :file, class: 'hidden' %>
    </span>
  </label>
 -->
