
<div class="container mt-5">
<h2 class="h2">Explore awesome kondos nearby</h2>
  <% @kondos.each do |kondo| %>

    <div class="card-product">
      <% if kondo.image.attached? %>
        <%= cl_image_tag kondo.image.key, height: 300, width: 400, crop: :fill %>
      <% end %>
        <div class="card-product-infos">
            <h2><%= kondo.title %></h2>
            <p><%= kondo.description %></p>
            <p><%= kondo.location %></p>
            <h2><%= kondo.reserved %> - <%= kondo.active %></h2>
            <p><% if policy(kondo).destroy? %>
              <%= link_to "delete kondo", kondo_path(kondo), method: :delete, data: {confirm: 'Are you sure you want to delete?'} %></p>
            <% end %>
            <p>Fetch it at <%= kondo.user.username %>'s place </p>
      </div>
    </div>
  <% end %>
</div>
