<%= render 'shared/navbar' %>
<br><br>

<div class="container mt-5">


  <% @kondos.each do |kondo| %>
    <div class="card-product">
      <% if kondo.picture.nil? %>
      <%#= cl_image_tag kondo.picture.key, crop: :fill %>
      <%# else %>
      <img src="<%= kondo.picture %>" alt="">
      <% end %>
      <div class="container-card">
        <div class="card-product-infos">
          <div class="row">
            <h1><%= kondo.title %></h1>
          </div>
          <div class="row">
            <h2><%= kondo.reserved %> - <%= kondo.active %></h2>
          </div>
          <div class="row">
            <p><%= kondo.description %></p>
          </div>
          <div class="row loc">
            <p><%= kondo.location %></p>
          </div>
          <div class="row">
            <p><%= kondo.user.username %> offered by </p>
          </div>
      </div>
    </div>
  <% end %>
<%# </div> %>

  <%# @kondos.each do |kondo| %>
    <%#= kondo.title %>
    <%#= kondo.description %>
    <%#= kondo.location %>
    <%#= kondo.picture %>
    <%#= kondo.reserved %>
    <%#= kondo.active %>
  <%# end %>
<%# </div> %>

