<h1>Kondos#index</h1>
<p>Find me in app/views/kondos/index.html.erb</p>

<div class="container mt-5">

  <% @kondos.each do |kondo| %>
    <%= kondo.title %>
    <%= kondo.description %>
    <%= kondo.location %>
    <%= kondo.picture %>
    <%= kondo.reserved %>
    <%= kondo.active %>
  <% end %>
</div>
