
<div class="container mt-5">
  <h5 style="font-weight: bold">Kondos nearby</h5>
  <p style="font-size: 14px; color: white">Browse through the things other people in your neighborhood don't need anymore.</p>
  <div class="kondos-container">
    <% @kondos.each do |kondo| %>

      <div class="card-product">
        <% if kondo.image.attached? %>
          <%= cl_image_tag kondo.image.key, height: 400, width: 400, crop: :fill %>
        <% end %>
          <div class="card-product-infos">
            <h6><%= kondo.title %></h6>
            <p><%= kondo.description %></p>
          <div class="card-product-seller">
            <p><strong>Kondor:</strong> <%= kondo.user.username %></p>
            <p><strong>Pickup at:</strong> <%= kondo.location %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
