  <div class='flip-card'>
    <div class='flip-card-inner'>

      <div class="card-wrapper">
      <div class="random-card-product">
        <% if @kondo.image.attached? %>
          <%= cl_image_tag @kondo.image.key, height: 400, width: 400, crop: :fill %>
        <% end %>
        <div class="random-card-product-infos">
          <div id="fav-icon">
            <div class="random-card-product-header">
              <h2><%= @kondo.title %></h2>
            </div>
            <% if current_user && !current_user.owner?(@kondo) %>
              <% if current_user.favorite?(@kondo) %>
                <%= link_to favorite_path(Favorite.find_by(kondo: @kondo), :location => params[:location], :kondo_id => @kondo.id), method: :delete, remote: true do %>
                <i class="fas fa-heart"></i>
                <% end %>
              <% else %>
                <%= link_to kondo_favorites_path(@kondo, :location => params[:location]), method: :post, remote: true do %>
                <i class="far fa-heart"></i>
                <% end %>
              <% end %>
            <% elsif current_user && current_user.owner?(@kondo) %>
                <%# if user is logged in and is the owner she sees nothing %>
            <% else %>
              <%= link_to kondo_favorites_path(@kondo, :location => params[:location]), method: :post do %>
                <i class="far fa-heart"></i>
              <% end %>
            <% end %>
          </div>
            <div id="kondo-description">
              <p><%= @kondo.description %></p>
            </div>
          <div class="random-card-product-seller">
            <div class="location">
              <p id="maplink-target"><i class="fas fa-map-marker-alt location-button"></i>  See location</p>
            </div>
            <% if current_user != @kondo.user %>
              <%= form_tag chatrooms_path, method: :post do %>
                <%= hidden_field_tag :kondo_id, @kondo.id %>
                <%= submit_tag "Contact Kondor", class: 'btn btn-main btn-contact' %>
              <% end %>
            <% else %>
              <%= form_tag chatrooms_path, method: :post do %>
                  <%= hidden_field_tag :kondo_id, @kondo.id %>
                  <%= submit_tag "Contact Kondor", class: 'btn btn-main btn-contact' disabled %>
          <% end %>
          </div>
        </div>
      </div>

    </div>
      <div class="flip-card-back">
        <div class="map-close btn-map-close"><span>See Kondo</span></div>
        <div id="map"
            style="width: 100%; height: 100%"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
