<!DOCTYPE html>
<html>
  <head>
<!--     <title><%= meta_title %></title> -->
    <title>KondoKondo - offer things "Kondo's" to your neigbourhood, that you don't want to throw away, but want to get rid of!</title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />

<!--     <%= csrf_meta_tags %>
    <%= csp_meta_tag %> -->

    <%= favicon_link_tag %>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

<%- actions = %w(new edit update create) %>
  <% if params[:controller] == "kondos" && actions.include?(params[:action]) %>
    <% background = "#AA6373" %>
  <% elsif params[:controller] == "dashboard" && params[:action] == "show"%>
    <% background = "#AA6373" %>
  <% else %>
    <% background = "#EEA243" %>
  <% end %>

  <body style="background-color: <%= background %>">
    <div id="main">
<!-- <%= render 'shared/flashes' %> -->
      <div class="page-container">
        <div class="navbar-container"><%= render "shared/navbar" %></div>
        <div class="content-container"><%= yield %></div>
      </div>
    </div>
  </body>
</html>
