<!DOCTYPE html>
<html>
  <head>
    <title>KondoKondo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

<%- actions = %w(new edit update create) %>
  <% if params[:controller] == "kondos" && actions.include?(params[:action]) %>
    <% background = "#AA6373" %>
  <% elsif params[:controller] == "dashboard" && params[:action] == "show"%>
    <% background = "#AA6373" %>
  <% else %>
    <% background = "#EEA243" %>
  <% end %>

  <body style="background-color: <%= background %>">
    <div id="main">
<!-- <%= render 'shared/flashes' %> -->
      <div class="page-container">
        <div class="navbar-container"><%= render "shared/navbar" %></div>
        <div class="content-container"><%= yield %></div>
      </div>
    </div>
  </body>
</html>
